/* ========== Google Fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600&display=swap");

/* ========== CSS Variables =========== */
:root {
  --primary-color: #ff5151;
  --black-color: #0b132a;
  --white-color: #fafeff;
  --default-color: #4f5665;
  --orange-color: #ff5e3a;
  --yellow-color: #fea250;
  --yellow-color1: #ffcf53;
  --bg-color: #fff7ee;
  --grey-color: #bbbbbb;
  --grey-color1: #636363;
  --grey-color2: #ebeff1;
  --box-shadow: 0 5px 15px rgba(255, 81, 81, 0.2);
  --box-shadow1: 0 5px 15px rgba(97, 81, 81, 0.2);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--default-color);
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

section {
  padding: 10rem 0 5rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

/* ========== Custom Classes =========== */

/* ========== Header =========== */

/* ========== Home =========== */

/* ========== Shapes =========== */

/* ========== Video =========== */

/* ========== SignIn Form =========== */

/* ========== Dishes list =========== */

/* ========== Buying Procedure =========== */

/* ========== Testimonials section =========== */

/* ========== Contact Section =========== */

/* ========== Articles section =========== */

/* ========== Footer =========== */
